/* General styling for the app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff; /* Default light background for body */
}

/* App Container Styling */
.app-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  height: 100vh; /* Ensure the app takes the full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the content */
  background-color: inherit; /* Inherit background color from body */
  color: #333333; /* Default text color */
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff; /* Light background for the body */
    color: #333333; /* Dark text */
  }

  .header h1 {
    color: #333333; /* Dark text for title */
  }

  .header p {
    color: #666666; /* Light grey text for description */
  }

  /* Styling for the widget container */
  #bwEventsTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333; /* Dark color for title */
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  #bwEventsCount {
    color: #7f8c8d; /* Nice grey color */
    text-align: center;
    margin-bottom: 10px;
  }

  #bwEventList {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light background for events */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for widget */
  }

  /* Footer styling */
  .footer {
    text-align: center;
    font-size: 1rem;
    color: #666666;
    margin-top: 40px;
  }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text for dark mode */
  }

  .header h1 {
    color: #ffffff; /* Light text for the title */
  }

  .header p {
    color: #bbbbbb; /* Lighter grey for description */
  }

  /* Styling for the widget container */
  #bwEventsTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff; /* Light color for title */
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  #bwEventsCount {
    color: #bbbbbb; /* Light grey color */
    text-align: center;
    margin-bottom: 10px;
  }

  #bwEventList {
    margin-top: 20px;
    padding: 10px;
    background-color: #333333; /* Dark background for events */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Darker shadow for contrast */
  }

  /* Footer styling */
  .footer {
    text-align: center;
    font-size: 1rem;
    color: #bbbbbb;
    margin-top: 40px;
  }
}
