.app-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5rem;
  color: #2980b9;
}

.header p {
  font-size: 1.2rem;
  color: #34495e;
}

.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #7f8c8d;
}

#bwEventsTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #7f8c8d; /* Nice grey color */
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline; /* Underline the title */
}

#bwEventsCount {
  color: #7f8c8d; /* Nice grey color */
  text-align: center;
  margin-bottom: 10px;
}

#bwEventList {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9; /* Light background for events */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for the widget */
}